<section class="footer1 cid-r7iOuFflNq" id="footer1-b">

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-12 col-sm-12">

                <div class="navbar-brand pb-3">
                    <div class="logo">
                        <a href="#">
                            <img class="navbar-logo" src="assets/imgs/logo.png" alt="logo" title="logo">
                        </a>
                        <p class="mt-2 pb-3">
                            <a href="https://play.google.com/store/apps/details?id=com.flexyfuel.app" target="_blank">
                                <img src="assets/imgs/google_play.png" class="play_img" alt="">
                            </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-12 col-sm-12">

                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-5">Contacts</h3>

                <div class="stripe"></div>

                <div class="mbr-row items mbr-white">

                    <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-tablet-vertical" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">+27 84 735 9159/+263772 868 450</h5>
                    </div>
                    <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-pin" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">
                            120 West Ways Mall <br> Helderkruin <br> Johannesburg <br> South Africa

                        </h5>
                    </div>
                    <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-letter" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">info@flexyfuel.co.zw</h5>
                    </div>
                </div>



                <div class="social-list py-4">
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-skype socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>

                </div>


            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 img-list">
                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-5">Newsletter</h3>
                <div class="stripe"></div>

                <p class="mbr-text mbr-normal py-2 links mbr-fonts-style display-4">
                    Subscribe to get our newsletter.</p>

                <div data-form-type="formoid">
                    <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
                    <form class="mbr-form" action="#" method="post" data-form-title="Flexy Fuel Form"><input type="hidden" name="email" data-form-email="true">

                        <div data-for="person">
                            <div class="form-group">
                                <input type="mail" class="form-control" name="email" placeholder="Your e-mail" data-form-field="Email" id="email-footer1-b">
                            </div>
                        </div>
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-success display-4">Subscribe</button></span>
                    </form>
                </div>




            </div>
        </div>
    </div>
</section>

<section class="footer2 cid-r7iNbuQaTS" id="footer2-a">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <p class="mbr-text links mbr-fonts-style display-4">
                    Copyright (c) 2020
                    <a href="#" class="text-black">Flexy Fuel</a>
                </p>
            </div>
        </div>
    </div>
</section>